.cont{
  display: flex;
  gap:200px;
  padding: 100px;
}
.left{
  width: 40%;
padding: 20px;
border-radius: 20px;
  background-color: #F7F6F2;
  height: 300px;
}
.rating{
  display: flex;
  gap:5px;
}
.pro{
  display: grid;
  gap:10px;
}
.le{
  display: flex;
  gap:10px;
}
.in{
  display: flex;
  gap:5px;
}
.right{
  width: 50%;
  padding: 20px;
}
@media (max-width:600px) {
  .cont{
    display: flex;
    flex-direction: column;
    gap:50px;
    padding: 50px;
  }
  .right{
    width: 100%;
    padding: 20px;
  }
  .left{
    width: 100%;
  padding: 20px;
  border-radius: 20px;
    background-color: #F7F6F2;
    height: 400px;
    width: 350px;
  }
}
